apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: todo-app
  labels:
    app: gateway
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: gateway

